doctype html
html
  head
    title GitHub users' activities research
  body
    h1 GitHub's v4 GrapQL API endpoints' proxies:
    ul
      li
        a(href="/graphql/mirumee" target="_blank") Mirumee's issues and commits

    h1 GitHub's v3 API endpoints' proxies:
    ul
      li
        a(href="/v3/orgs/mirumee/repos" target="_blank") Mirumee's repositories
      li
        a(href="/v3/orgs/mirumee/members" target="_blank") Mirumee's members
      li
        a(href="/v3/repos/mirumee/mirumee/issues" target="_blank") Mirumee's issues
      li
        a(href="/v3/repos/mirumee/mirumee/issues/comments" target="_blank") Mirumee's comments
      li
        a(href="/v3/repos/mirumee/mirumee/commits" target="_blank") Mirumee's commits
    h3 Combined endpoints:
    ul
      li
        a(href="/v3/orgs/mirumee/user-activities" target="_blank") List Mirumee's user activities

    h1 Analyse data:
    ul
      li
        a(href="/analysis/activities" target="_blank") List Mirumee's user activities analysis

